//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//mix
@mixin titleinfo {
    font-size: 45px;
    font-weight: bold;
    font-family: "Montserrt", sans-serif;

    
}


html{
    overflow-x: hidden ;
}
body{
    background-color: black !important;
    overflow-x: hidden;
}
nav{
    padding: 15px 80px !important ;
    animation: animNav 1s ease;
   .navbar-brand{
    font-size: 25px;
    color: white !important;
    font-family: "Montserrat",sans-serif;
    b{
        color: white;
        font-family: "Montserrat",sans-serif;
        font-weight: 700;
    }
     
   }
   .navbar-nav{
    margin-left: auto;
    .nav-item{
        
        margin: 20px;
        font-size: 20px;
        font-family: "Montserrat",sans-serif;
        a{
            color: #949494;
            text-decoration: none;
            transition: 0.2s ease;
            -webkit-transition: 0.2s ease ;
            &:hover{
                color: white !important;
                text-decoration: none;
                font-size: 30px;
                
            }
        }

    }
   }

}
nav.fixed{
    padding: 15px 80px !important ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #000000cf;
    box-shadow: 0 5px 15px #0c0c0cde;
}
// about
.about-me{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 70px;
    .side1{
        width: 55%;
        margin: 20px 0;
        .title{
            font-size:70px ;
            font-family: "Montserrat" , sans-serif  ;
            color: white;
            font-weight: 700;
        }
        .discription{
            width: 75%;
            margin: 15px 3px 60px;
            font-size: 20px;
            color: #AAAAAA;
            font-family: "Montserrat", sans-serif;

        }
        .buttons{
            .linkBtn{
                background-color: #2B2B2B;
                padding: 17px 40px ;
                color: white;
                font-size: 20px;
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                &:nth-child(2){
                    margin-left: 13px;
                    background-color: yellow;
                    color: black;
                    &:hover{
                        background-color: #2B2B2B;
                        color: white;
                    }
                    
                }
                &:hover{
                    background-color: yellow;
                    color: black;
                    
                }

            }
        }
        .socialNet{
            font-size: 25px;
            text-decoration: none;
            padding: 25px ;
            .iconsvg{
                margin: 10px;
                font-size: 35px;
                color: white;
                &:hover{
                    color: yellow;
                }
            }
           
            
        }
        
    }
}
.titles{
    
    padding-top: 10%;
    text-align: center;
    .titlep{
        color: yellow;
        font-family: "Montserrt", sans-serif;
        font-weight: bold;
        font-size: 30px;
        
    }
    .titleh3{
        color:  white;
        font-size: 45px;
        font-family: "Montserrt", sans-serif;
        font-weight: bold;
        
    }
}
// sikls
.container{
    margin: 40px ;
    width: 50%;
    display: block;
    .containerdiv{
        display: flex;
        width: 520px;
        justify-content: space-between;
    .containerh1{
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrt", sans-serif;
      text-align: center;
        
    }
    .foiz{
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrt", sans-serif;
        // margin-left: 400px;

    }
}
    
    .progress2 {
        padding: 3px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.25);  
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        width: 40%; 
        background-color: #ffffff;  
        // animation: progressAnimation 4s;
        .progress-bar2 {
            height: 18px;
            border-radius: 30px;
            background-image: 
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            transition: 0.4s linear;  
            transition-property: width, background-color;
            width: 90%; 
            background-color: rgb(0, 0, 0);  
            animation: progressAnimation 4s;    
          }
      }
}
.container2{
    margin-left: 70px ;
    width: 50%;
    display: block;
    .containerdiv2{
        display: flex;
        width: 520px;
        justify-content: space-between;
    .containerh12{
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrt", sans-serif;
        text-align: center;
        
    }
    .foiz2{
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrt", sans-serif;
        // margin-left: 400px;

        }
    }
    
    .progress22 {
        padding: 3px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.25);  
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        width: 73%; 
        background-color: #ffffff;  
        // animation: progressAnimation 4s;
        .progress-bar22 {
            height: 18px;
            border-radius: 30px;
            background-image: 
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            transition: 0.4s linear;  
            transition-property: width, background-color;
            width: 87%; 
            background-color: rgb(0, 0, 0);  
            animation: progressAnimation2 4s;    
          }
      }
}



.portfoliotitle{
    display: flex;
    margin-left: 80px;
    .portfoliotitle2{
        padding-left: 50px;
        padding-top: 50px;
        h1{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 45px;
        }
        p{
        color:whitesmoke;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 30px;
        }
        .portfolioBtn{
            .linkBtn{
                background-color: #2B2B2B;
                padding: 17px 40px ;
                color: white;
                font-size: 20px;
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                &:nth-child(2){
                    margin-left: 13px;
                    background-color: yellow;
                    color: black;
                    &:hover{
                        background-color: #2B2B2B;
                        color: white;
                    }
                    
                }
                &:hover{
                    background-color: yellow;
                    color: black;
                    
                }

            }
        }
            
           
            
        
        
        
    }
}
.zakazchik{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 30px;
    .zakazchik2{
        padding-right: 150px;
        padding-top: 50px;
        h1{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 45px;
        }
        p{
        color:whitesmoke;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 30px;
        }
        .portfolioBtn{
            .linkBtn{
                background-color: #2B2B2B;
                padding: 17px 40px ;
                color: white;
                font-size: 20px;
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                &:nth-child(2){
                    margin-left: 13px;
                    background-color: yellow;
                    color: black;
                    &:hover{
                        background-color: #2B2B2B;
                        color: white;
                    }
                    
                }
                &:hover{
                    background-color: yellow;
                    color: black;
                    
                }

            }

    }
    }
}

.contacthome{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin-top: 100px;
    
    .adress{
        width: 49.7%;
        margin-top: 35px;
        .messaget{
            width: 400px;
            height: 50px;
            background-color:black;
            margin-left: 100px;
            border-radius: 30px;
            margin-top: 30px;
            box-shadow: 0 0 15px #ccc;
            .contacta{
                
                font-size: 16px;
                margin-top: 5px;
                color: yellow;
                .telegram{
                    margin-left: 90px;
                    font-size: 25px;
                    text-decoration: none;
                    color: #41a4da;
                

                }
                .iconsvgt{
                    color:#41a4da;
                    font-size: 35px;
                    margin-left: 10px;
                    margin-top: 5px;
                   text-decoration: none;
                }
              
                .whatsapp{
                    margin-left: 90px;
                    font-size: 25px;
                    text-decoration: none;
                    color: #44bd53;
                

                }
                .gitgub{
                    margin-left: 90px;
                    font-size: 25px;
                    text-decoration: none;
                    color: white;
                }
                .iconsvgg{
                    color:white;
                    font-size: 35px;
                    margin-left: 10px;
                    margin-top: 5px;
                   text-decoration: none;

                }
                .youtube{
                    margin-left: 90px;
                    font-size: 25px;
                    text-decoration: none;
                    color: #f20000;

                }
                .iconsvgy{
                    color: #f20000;
                    font-size: 35px;
                    margin-left: 10px;
                    margin-top: 5px;
                   text-decoration: none;

                }
               
            }
            .iconsvgw{
                color: #44bd53;
                font-size: 35px;
                margin-left: 10px;
                margin-top: 5px;
               text-decoration: none;
            }
            
        }
    }
    .chiziq{
        width: 0.5%;
        background-color: rgb(91, 91, 88);
        border-radius: 5px;
        margin-top: 35px;
    }
    .formpage{
        width: 49.7%;
        background-color:black;
        width: 600px;
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 35px;
    .button-send{
        background-color: yellow;
        margin-left: 400px;
        width: 130px;
        border-radius: 20px;
        margin-top: 10px;
        .buttonsend{
            color: black;
            text-decoration: none;
           margin-left: 15px;
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
        }
        .icon-send{
            color: black;
            font-size: 25px;
            margin-left: 15px;
            margin-top: -10px;

        }
    }

    .form-group{
        
        .label1{
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            color: white;
            margin-left: 100px;
            margin-top: 10px;
        }
        .input1{
            width: 100%;
            border-color: #242020;
            border-radius: 25px ;
            padding: 5px;
        }
        .textarea1{
            width: 90%;
            border-radius: 25px;
        }
       
    }

}
}
